# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
.venv
venv/

# Database file (this should always be ignored)
database.db

# IDE files
.idea/
.vscode/

# Mac
.DS_Store

# We are no longer ignoring the migrations folder,
# as it's needed for deployment.
# migrations/