# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/

# Virtualenv
venv/
.env

# VSCode
.vscode/

# Mac
.DS_Store

# Data & model artifacts
# The following lines are commented out to ensure the model and training data
# are included in the repository for successful deployment on Render.
# data/
# *.joblib